@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

.container{
    /* position: relative; */
    background-image: url(../img/textura-do-cartao\ 1.svg);
    display: flex;
    height: 100%;
    padding-bottom: 5%;
    padding-left: 3%;
}

.leftContato{
    width: 30%;
    padding-right: 20%;
    padding-top: 5%;
}

.rightContato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 70vh;
}

.entradas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    gap: 10% 0;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.input{
    width: 60%;
    height: 90%;
    border-radius: 50px;
    font-size: 100%;
    background-color: transparent;
    padding-left: 3%;
    font-family: "Allerta", sans-serif;
    border: 2.2px solid #666666;
}

textarea{
    width: 60%;
    border-radius: 37px;
    font-size: 100%;
    background-color: transparent;
    padding-left: 3%;
    font-family: "Allerta", sans-serif;
    border: 2.2px solid #666666;
    padding-top: 2%;
}

b{
    font-family: "Allerta", sans-serif;
    font-size: 120%;
}

h1{
    font-family: "Allerta", sans-serif;
    font-size: 300%;
}

.button{
    width: 20%;
    height: 75%;
    border-radius: 30px;
    font-family: "Allerta", sans-serif;
    font-size: 100%;
    border: 2.2px solid #666666;

}

/* FOOTER */

.footer{
    background-color: #2C2C2C;
    width: 100%;
    height: 70vh;
}

.hr1 {
    border: 0; /* Remove a borda padrão */
    height: 2px; /* Espessura da linha */
    background: #8B2EDC; /* Cor da linha */
    margin: 20px 0; /* Margem superior e inferior */
    width: 30%;
    align-items: center;
    position: absolute;
    top: 52%;
    left: 35%;
}

.div-titulo{
    text-align: center;    
}

p {
    font-family: "Allerta", sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-top: 2%;
}