/* SEMPRE COMENTE E USE % */

@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

.container {
    display: block;
    align-items: center;
}
/* 
body {
    font-family: "Allerta", sans-serif;
    background-color: #2C2C2C;
    overflow-y: hidden;
} */

body{
    overflow-x: hidden;
    background-color: #2C2C2C;
    font-family: "Allerta";
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
    line-height: 1.5;
    scroll-behavior: smooth;

}

html{
    scroll-behavior: smooth;
}

.fundo{
    background-image: linear-gradient(to right, rgb(0 0 0), rgb(0 0 0 / 63%)), url(../img/fundoSelfCheckout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
}

.button-mobile{
    display: none;
}
.close-button-mobile{
    display: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7% 2%;
    margin-top: 1%;
    background-color: #111111;
    width: 85%;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
}



nav .nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-right: 70%
}

nav .nav-ul .li-nav {
    margin: 0 9%;
}

nav .nav-ul .li-nav a {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.botoes-div {
    
    gap: 10px;
    margin-right: 3%;
}

.botao-adquira {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Allerta";
    font-size: 18px;
    display: none;
}

.botao-adquira a{
    text-decoration: none;
    color: black;
}

.botao-login {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Allerta";
    font-size: 18px;
}

.botao-login a{
    text-decoration: none;
    color: black;
}

.botao-login:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.logo {
    width: 20%;
    height: auto;
}

.agora {
    text-decoration: underline;
    text-decoration-color: #8B2EDC;
}


.card-login {
    background-color: #212121;
    border-radius: 50px;
    width: 40%;
    height: 70vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
   
    flex-direction: column;
    top: 20%;
    
    /* Linhas abaixo influenciam na posição do eixo X */
    left: 50%;
    transform: translateX(-50%);
}

p {
    margin: 0%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 17%;
    font-size: 20px;
}

.input {
    border-radius: 50px;
    border-width: 3px;
    width: 60%;
    height: 9%;
    padding: 1%;
    background-color: #212121;
    border: 2.2px solid #666666;
    font-size: 1.5rem;
    color: white;
}

.button {
    background-color: white;
    border-radius: 120px;
    width: 38%;
    height: 15%;
    font-family: "Allerta", sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.logoLogin {
    width: 50%;
    margin: 0%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 14% 0;
    align-items: center;
    justify-content: center;
    margin-top: 19%;
}