* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
.pgColaboradores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conteudoColadores{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1%;
}

.topColaboradores{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.topColaboradores h2{
    font-size: 1.875rem;
    font-family: Montserrat;
    font-weight: 500;
}
.btn-novoColaborador{
    font-size:1.125rem;
    background-color: #F84455;
    width: 25%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none ;
    border-radius: 15px;
    color: white;
    font-weight: 500;
}
.box-colunas{
    width: 90%;
    height: 10%;
    background-color: #F84455;
    display: flex;
    padding-left: 2.5%;
    flex-direction: row;
    font-size: 1.125rem;
    font-family: Montserrat;
    color: white;
    font-weight: 600;

}

.box-colaboradores{
    width: 90%;
    height: 7%;
    background-color: #ffffff;
    border-bottom: 1px solid black ;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding-left: 2.5%;
}
.box-colaboradores button{
    background-color: transparent;
    border: none;
    margin-left: 4%;
    position: relative;
    right: 0%;
  
}
.nome{
    width: 15%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.email{
    width: 23%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.cargo{
    width: 20%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
   
}
.administrador{
    width: 15%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.status{
    width: 10%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}


/* São essas duas divs do pop up */

.fundoCadastrar{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.boxCadastro{
    width: 40%;
    height: 90%;
    background-color: white;
}



/* Editar */
.fundoEditar{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxEditar{
    width: 35%;
    height: 40%;
    background-color: white;
}

/* Excluir */
.fundoExcluir{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxExcluir{
    width: 40%;
    height: 50%;
    background-color: white;
}