* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
.pgColaboradores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conteudoColadores{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1%;
}

.topColaboradores{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.topColaboradores h2{
    font-size: 1.875rem;
    font-family: Montserrat;
    font-weight: 500;
}
.btn-novoColaborador{
    font-size:1.125rem;
    background-color: #F84455;
    width: 25%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none ;
    border-radius: 15px;
    color: white;
    font-weight: 500;
}
.box-colunas{
    width: 90%;
    height: 10%;
    background-color: #F84455;
    display: flex;
    padding-left: 2.5%;
    flex-direction: row;
    font-size: 1.125rem;
    font-family: Montserrat;
    color: white;
    font-weight: 600;

}

.box-colaboradores{
    width: 90%;
    height: 7%;
    background-color: #ffffff;
    border-bottom: 1px solid black ;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding-left: 2.5%;
}
.box-colaboradores button{
    background-color: transparent;
    border: none;
    margin-left: 4%;
    position: relative;
    right: 0%;
  
}
.nome{
    width: 15%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.email{
    width: 23%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.cargo{
    width: 20%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
   
}
.administrador{
    width: 15%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}
.status{
    width: 10%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
  
}


/* São essas duas divs do pop up */

.fundoCadastrar{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.boxCadastro{
    width: 40%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxCadastro .up{
    width: 100%;
    height: 15%;
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: right;
    color: #F84455;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
}
.boxCadastro .down{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-top: -90px;
}
.boxCadastro .down .topo{
    font-family: Montserrat;
    text-align: left;
    font-size: 10.7px;
    font-weight: 600;
    line-height: 14.63px;
    width: 100%;
    height: 29% ;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.topo h1{
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
}
.boxCadastro .down .meio{
    width: 100%;
    height: 54%;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
}
.down .meio .caixas{
    width: 100%;
    height: 25%;
    border-bottom: 2px black solid;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 10px;
    padding-left: 11px;
    margin-top: -5px;
}
.down .meio .caixas input{
    width: 95%;
    height: 20px;
    margin-left: 10px;
    font-family: Montserrat;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
}
.down .meio .caixas_1{
    width: 100%;
    height: 20%;
    border-bottom: 2px black solid;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 10px;
    padding-left: 11px;
    margin-top: -8px;
}
.down .meio .caixas_1 input{
    width: 95%;
    height: 20px;
    margin-left: 10px;
    font-family: Montserrat;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
}
.down .meio .options{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
.down .meio .options button{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #F84455;
    border: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    color: white;
}
.down .meio .options a{
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: right;

}
.boxCadastro .down .baixo{
    margin-top: 20px;
    width: 100%;
    height: 10.8%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: end;
}
.down .baixo img{
    height: 80%;
}



/* Editar */
.fundoEditar{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxEditar{
    width: 35%;
    height: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.boxEditar select{
    width: 47%;
    border: #F84455 solid 7px;
    height: 70px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 90px;
    border-radius: 5px;
}
option{
    width: 47%;
    height: 70px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.boxEditar button{
    width: 55%;
    height: 50px;
    background-color: #F84455;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* Excluir */
.fundoExcluir{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxExcluir{
    width: 35%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Montserrat;
    flex-direction: column;
}
.topExcluir{
 width: 93%;
 height: 15%;
 display: flex;
 justify-content: right;
 align-items: end;
}
.titulosExcluir{
    height: 20%;
    width: 70%;  
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.titulosExcluir h2{
    font-size: 1.875rem;
}
.titulosExcluir p{
    font-size: 0.75rem;
}
.boxExcluir input{
    width: 70%;
    border: none;
    border-bottom: 2px solid;
    height: 10%;
    padding-left: 3%;
    margin-top:5%;

}

/* ---------- esses bgl tudo só pro placeholder do excluir ficar deitadinho */
.boxExcluir input:focus{
   outline: none;
}

.boxExcluir input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    font-style: italic;
}

.boxExcluir input::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}

.boxExcluir input:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
}

.boxExcluir input::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}

.boxExcluir input::placeholder { /* Para navegadores modernos */
    font-style: italic;
}


.boxExcluir button{
    width: 70%;
    height: 15%;
    margin-top: 5%;
    background-color: #F84455;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: 600;
  

}

/* ----------------popup */
.popup{
    width: 35%;
    height: 45%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.125rem;
    gap: 5%;
 

}