* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
.Editar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.conteudoEditar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.conteudoEditar .right img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; 
    height: 100vh; 

}

.conteudoEditar .left{
    width: 62%;
    height: 100vh;
    background-color: white;
    z-index: 0;
    position: absolute;
    left: 0;

    display: flex;
    justify-content: end;
    align-items: center;
}

.conteudoEditar .left .infos{
    height: 60%;
    width: 62%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.left .infos .objects{
    height: 80.5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .infos .objects h1{
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left .infos .objects button{
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: #F84455;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.left .infos .objects .two{
    width: 100%;
    display: flex;
    justify-content: start;
}
.left .infos .objects .caixas{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 100%;
}
.infos .objects .caixas input{
    height: 40px;
    border: rgba(82, 82, 82, 0.733) solid 1.5px;
    margin-top: 5px;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
}
.infos .objects .caixas .ip_1{
    width: 65%;
}
.infos .objects .caixas .ip_2{
    width: 100%;
}
.infos .objects .caixas .ip_3{
    width: 90%; 
}
.infos .objects .caixas .ip_4{
    width: 100%;
}

/* .popup{
    width: 35%;
    height: 40%;
    z-index: 100;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.125rem;
    gap: 5%;
    border-radius: 15px;
} */