@media (max-width: 450px) {

    header {
        display: flex;
        background-color: #111111;
        width: 100%;
        height: 100vh;
        position: fixed !important;
        margin: 0 !important;
        border-radius: 0 !important;
        flex-direction: column;
        justify-content: center;
        left: -120%;
        transition: all 1s ease-in-out;
        opacity: 0;
    }

    .close-button-mobile {
        position: absolute;
        right: 10%;
        top: 2%;
    }

    .close-button-mobile i{
        font-size: 2rem;
    }


    .close-button-mobile{
        display: block;
    }

    .headerTransition{
        left: -120%;
        opacity: 0;
    }

    .headerSmartRight{
        left: 60% !important;
        opacity: 0;
    }

    .headerSmart {
        left: -2% !important;
      
        opacity: 1;
    }

    .button-mobile {
        position: fixed;
        left: 3%;
        top: 2%;
        background: #882ed5;
        padding: 1%;
        border-radius: 50%;
        width: 8%;
        color: #b8b8b8;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-mobile i {
        font-size: 1.8rem;
    }

    header svg {
        width: 50% !important;
    }

    nav .nav-ul {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        font-size: 2rem;
    }

    


    /* BANNER */

    .banner-div h1 {
        font-size: 2rem;
    }

    .banner-div img {
        width: 100%;
    }
    .divImg-mobile{
        width: 100%;
    }
    .banner-div button {

        padding: 2% 5%;
        font-size: 1.2rem;
    }

    /* Sobre nós */

    .quadrado2{
        flex-direction: column;
    }
    .reverse-mobile{
        flex-direction: column-reverse !important;
    }
    .imagem-quadrado2 {
        width: 85%;
    }

    .texto-quadrado2 {
        margin: 0% !important;
        width: 108%;
        padding: 6% 0%;
    }
    .texto-quadrado2 p{
        text-align: center;
        font-size: 1rem;
    }
}