* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
  
}
.pgMaquinas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.conteudoMaquinas{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.topmaquinas{
    width: 80%;
    height: 10%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn-cadastrarSelf{
    width: 20%;
    height: 45%;
    background-color: #F84455;
    border-radius: 0;
    border: none;
    font-size: 1.125rem;
    font-family: Montserrat;
    color: white;
}


.topmaquinas h2{
    font-size: 3.125rem;
    font-family: Montserrat;
    font-weight: 500;
}
.boxmaquinas{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    grid-template-rows: repeat(3, 1fr); /* 3 linhas de tamanho igual */
    gap: 2%; 
    width: 80%;
    height: 80%;
}
.maquinas{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    flex-direction: column;
    font-family: Prompt;
}


.fundoInfomaquina{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.infomaquina{
    width: 80%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5%;
}

/* --------------------- info cpu -------------------- ESTOU REUTILIZANDO OS CSS DA CPU NO DE RAM E MEM*/
.boxInfoCPU{
    height: 40%;
    width: 90%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    min-height: 50%;
    


}
.boxGrafico{
    background-color: white;
    border-radius: 15px;
    width: 83.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;  
    }

.boxFichaCPU{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 5%;

}
.boxVelocidade{
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-family: Montserrat;
    font-size: 1rem;

}

.boxNucleos{
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;

}
.titulosNucleos{
    height: 50%;
    width: 100%;
  font-size: 1.125rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
.qtdNucleos{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
   font-size: 1.5625rem;
    align-items: center;
    font-weight: 700;
}

.tituloVelocidade{
height: 50%;
width: 100%;
display: flex;
justify-content: left;
align-items: center;
font-size: 1.125rem;

}
.velocidade{
    font-size: 1.5625rem;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 700;

}
.CPU{
    width: 80%;
    height: 45%;
    background-color: black;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    border-radius: 15px;
    font-weight: 800;
    font-family: Montserrat;
}
.tituloCPU{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
}
/* ------------------------------------- */

.fundoCadastrar{
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.boxCadastroMaquina{
    width: 37%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxCadastroMaquina .up{
    width: 100%;
    height: 19%;
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: right;
    color: #F84455;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.boxCadastroMaquina .down{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:start;
}
.boxCadastroMaquina .down .topo{
    font-family: Montserrat;
    text-align: left;
    font-size: 10.7px;
    font-weight: 600;
    line-height: 14.63px;
    width: 100%;
    height: 29% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topo h1{
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
}
.boxCadastroMaquina .down .meio{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3px;
}
.down .meio .caixas{
    width: 100%;
    height: 25%;
    border-bottom: 2px black solid;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 10px;
    padding-left: 11px;
}
.down .meio .caixas input{
    width: 95%;
    height: 20px;
    margin-left: 10px;
    font-family: Montserrat;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
}

.down .meio .options{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
.down .meio .options button{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #F84455;
    border: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    color: white;
    margin-top: -100px;
}

.boxCadastroMaquina .down .baixo{
    margin-top: 20px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
}
.down .baixo img{
    height: 40%;
}

canvas {
    width: 90% !important;
    height: 90% !important;
}