.Sessao4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    background-color: #F84455;
    border-radius: 15px;

}

.boxForm {
    width: 40%;
    height: 90%;
    gap: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.titulosForm {
    width: 90%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}

.titulo1 {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 700;
    font-size: bold;
}

.titulo2 {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Montserrat;
    font-size: 1.5rem;
}

.informacoesPessoais {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.inputNome {
    width: 45%;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}

.inputSobrenome {
    width: 45%;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}

.inputEmail {
    width: 100%;
    height: 10%;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}

.inputNome:focus,
.inputEmail:focus,
.textareaMensagem:focus,
.inputSobrenome:focus {
    border: none;
    outline: none;
}

.textareaMensagem {
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
}

.buttonEnviar {
    background-color: #178BF5;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}

.form {
    width: 80%;
    height: 70%;
    gap: 5%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroudSessao4 {
    height: 95%;
    width: 55%;
    background-image: url(../img/backgroundS4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    font-family: Prompt;
    color: white;
}

.tituloNovaScan {
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 2.8125rem;
    font-weight: 660;
}

.fraseDeEfeito {
    height: 20%;
    font-weight: 600;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 3.125rem;
    line-height: 1.2;
    text-align: left;
}