* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.Sessao3 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.titulos {
    margin-top: -5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 15%;
    width: 50%;

}
.Titulo1{
font-size: 2.5rem;
font-family: Montserrat;
font-weight: 600;

}
.Titulo2{
    font-size: 3.5rem;
    font-family: Montserrat;
    color: rgba(248, 68, 85, 1);
    font-weight: bold;
    
}
.boxCards {
    width: 100%;
    height: 55%;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;

}

.cards {
    width: 23%;
    height: 100%;
    background-color: rgba(248, 68, 85, 1);
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3%;
    flex-direction: column;
    padding-top: 1%;
}

.conteudoCard {
    font-family: Montserrat;
    height: 33%;
    width: 90%;
    color: white;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

p .conteudoCard {
    font-size: 0.7rem;
}

.ilustracaoCard {
    height: 50%;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ilustracaoCardGrafico {
    height: 50%;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px 5px 10px rgba(0, 0, 0, 0.2);

}

.ilustracaoCardAlerta {
    height: 50%;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px 5px 10px rgba(0, 0, 0, 0.2);

}

.boxCardAlerta {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.8rem;
}

.entendidoCardAlerta {
    width: 25%;
    height: 9%;
    background-color: #F84455;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    left: 30%;
    top: 8%;
    border-radius: 10px;
    font-family: Montserrat;
    color: white;
    font-size: 0.7rem;
}

.tituloGraficoCard {
    height: 15%;
    width: 90%;
    font-family: Montserrat;
    color: black;
}

.boxGrafico {
    width: 90%;
    height: 75%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FA99BA;
    border-radius: 15px;
}



#myChart {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    left: -3%;
}

.ilustracaoCardCadastro {
    height: 50%;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px 5px 10px rgba(0, 0, 0, 0.2);


}

.BoxcardCadastro {
    display: flex;
    width: 90%;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;

}

.leftCardCadastro {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 45%;
    height: 100%;
  
    gap: 5%;
    font-family: Montserrat;
    font-size: 0.8rem;
}
.bolinhaCadastro{
    width: 30px;
    height: 30px;
    background-color: #8D51F5;
    border-radius: 50%;
}
.green{
    width: 10px;
    height: 10px;
    background-color: #3CD06E;
    border-radius: 50%;
}
.red{
    width: 10px;
    height: 10px;
   background-color: #F6152A;
   border-radius: 50%;
}
.rightCardCadastro {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    font-family: Montserrat;
    font-size: 0.8rem;
}

.cadastrarUsuarioCard {
    width: 30%;
    height: 22px;
    background-color: #F84455;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    /* AJUSTAR APÓS CONSLUSÃO DO SITE */
    left: 32%;
    top: 2%;
    border-radius: 10px;
    font-family: Montserrat;
    color: white;
    font-size: 0.7rem;
}
.tituloCliente{
    height: 20%;
    width: 90%;
}
.tituloSuporte{
    height: 17%;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: end;
    
    gap: 3%;
    font-family: Montserrat;
    font-size: 0.8rem;
    
}
.tituloSuporte .green{
    margin-bottom: 2%;
}

.boxSuporte{
 height: 60%;
 width: 90%;
 
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.ilustracaoCard {
    height: 50%;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.boxMensagem1{
    height: 40%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 0.7rem;
}

.boxMensagem1 p{
    margin-left: 2%;
}
.mensagem1{
height: 60%;
width: 40%;
display: flex;
justify-content: center;
align-items: center;
background-color: #F84455;
border-radius: 20px;
color: white;
font-size: 0.8rem;
}


.boxMensagem2{
    height: 40%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 0.7rem;
}
.boxMensagem2 p{
    margin-right: 2%;
}
.mensagem2{
    height: 60%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA99BA;
    border-radius: 20px;
    font-size: 0.8rem;
    
    }

    .cardsMobile{
        display: none;
            }

    @media screen and (max-width: 1000px) {
        .Sessao3{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
         
          
        }
        .boxCards {
            flex-direction: column;
        }
        .cards {
         display: none;
        }
        .cards h2{
            font-size: 1rem;
        }
        .cards p{
            font-size: 0.8rem;
        }
        .Titulo1{
            font-size: 1.8rem;
            font-family: Montserrat;
            font-weight: bold;
            
            }
            .Titulo2{
                font-size: 2rem;
                font-family: Montserrat;
                color: rgba(248, 68, 85, 1);
                font-weight: bold;
                
            }

            .titulos{
                width: 100%;
              
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5%;
                height: 15%;

            }
            .boxCards{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
              
               height: 80%;
            
            }
            .bTop{
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .bLow{
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: start;
            }

            .cardsMobile {
                width: 40%;
                height: 50%;
                background-color: #F84455;
                display: flex;
          
                justify-content: center;
                align-items: center;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve na cor preta */
                transition: ease-in-out 0.5s;
                animation: animacaoCards 10s ease-in-out infinite;
                
                & h2 {
                    font-family: Montserrat;
                    color: white;
                    font-size: 0.9rem;
                }
            }
            @keyframes animacaoCards {
                25% {
                    border-radius: 35px 0 0 0;
                }
                50% {
                    border-radius: 0 35px 0 0;
                }
                75% {
                    border-radius: 0 0 35px 0;
                }
                90% {
                    border-radius: 0 0 0 35px;
                }   
                95% {
                    border-radius: 0 0 0 15px;
                }
                100% {
                    border-radius: 0 0 0 5px;
                }
            }
            
            .topCardMobile{
                height: 50%;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5%;
                text-align: center;
            
            }
            .cardsMobile p{
                display: none;
                font-family: montserrat;
            }
            .imgMobile{
                width: 50%;
            }
            .cardsMobile:hover{
         
                flex-direction: column;
                justify-content: start;
                gap: 5%;
                padding-top: 5%;
                width: 45%;
                height: 100%;
                transition: 0.5s;
                & .boxTextoMobile{
                    width: 90%;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                }
                
                & p{
                    display: flex;
                    color: white;
                    font-size: 0.85rem;
                }
                & .topCardMobile{
                    width: 27.5%;
                    border-radius: 50%;
                    height: 15%;
                    background-color: #000000;
                    & h2{
                        display: none;
                    }
                }
                & .imgMobile{
                    height: 50%;
                    width: auto;
                }
                
            }
        
    }



