@media (max-width: 800px) {

    /* Header */

    .botoes-div {
        display: none;
    }

    header nav{
        width: 100%;
    }
    header svg{
        width: 33% !important;
    }

    nav .nav-ul {
        width: auto;
    }

    /* Banner */
    .conteudo-banner-div{
        margin-left: 6%;
    }
    .banner-div h1 {
        font-size: 2.5rem;
    }
    .banner-div img {
        width: 75%;
    }

    /* Sobre */

    .texto-quadrado2 {
        margin: 0% !important;
        width: 50%;
    }

    .quadrado2 {
        gap: 5%;
    }

    .imagem-quadrado2{
        width: 50%;
    }

    .imagem-quadrado2 img{
        width: 100%;
    }

    .texto-quadrado2 p {
        font-size: 0.8rem;
    }

    .texto-quadrado2 button {
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 3%;
    }

    .quadrado h1 {
        font-size: 2rem;
    }
    

    /* Serviços */
    .sectionServices {
        & h1 {
            font-size: 2rem;
        }
        & h2 {
            font-size: 1.3rem;
        }
        & p {
            font-size: 0.9rem;
            width: 85%;
        }
        & img {
            width: 40%;
        }
    }
    .aliselection {
        font-size: 1.3rem;
    }

    /* Vantagens */
    .text-vantagens {
        font-size: 2rem;
    }
    .titulo h1{
        font-size: 2rem;
    }
    .card {
        width: 25%;
        height: 307px;
    }

    /* Contate-nos */
    .linha-roxa {
        height: 40%;
    }
    .container h1 {
        font-size: 2rem;
        margin-left: 6%;
    }
    .container p {
        margin-left: 6%;
        font-size: 0.9rem;
    }
    .input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
    .entradas div {
        width: 80%;
    }
    
    /* Footer */
    .contatar {
        font-size: 1.5rem;
    }
    .emails {
        display: flex;
        width: 100%;
        font-size: 0.9rem;
    }
    .texto-copyright {
        font-size: 0.8rem;
    }
    .texto-copyright img {
        margin-left: 8px;
        width: 18%;
    }
}